In [1]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [7]:
import seaborn as sns

In [9]:
val=[
('2024-01-01', 'Pepperoni', 'Small', 5, 8.99, 'New York'),
('2024-01-01', 'Pepperoni', 'Medium', 3, 12.99, 'New York'),
('2024-01-02', 'Margherita', 'Large', 2, 15.99, 'New York'),
('2024-01-02', 'BBQ Chicken', 'Small', 4, 9.99, 'Chicago'),
('2024-01-03', 'Vegetarian', 'Large', 6, 14.99, 'Los Angeles'),
('2024-01-04', 'Pepperoni', 'Small', 7, 8.99, 'Chicago'),
('2024-01-05', 'BBQ Chicken', 'Medium', 2, 13.99, 'Los Angeles'),
('2024-01-06', 'Margherita', 'Small', 8, 7.99, 'New York'),
('2024-01-07', 'Vegetarian', 'Medium', 3, 12.99, 'Chicago'),
('2024-01-08', 'Pepperoni', 'Large', 1, 15.99, 'Los Angeles'),
('2024-01-09', 'BBQ Chicken', 'Large', 2, 17.99, 'New York'),
('2024-01-10', 'Vegetarian', 'Small', 5, 9.99, 'Chicago')]

In [173]:
df=pd.DataFrame(val,columns=["sale_date", "pizza_type", "size_pizza", "quantity", "price", "location"
])

In [175]:
df

     sale_date   pizza_type size_pizza  quantity  price     location
0   2024-01-01    Pepperoni      Small         5   8.99     New York
1   2024-01-01    Pepperoni     Medium         3  12.99     New York
2   2024-01-02   Margherita      Large         2  15.99     New York
3   2024-01-02  BBQ Chicken      Small         4   9.99      Chicago
4   2024-01-03   Vegetarian      Large         6  14.99  Los Angeles
5   2024-01-04    Pepperoni      Small         7   8.99      Chicago
6   2024-01-05  BBQ Chicken     Medium         2  13.99  Los Angeles
7   2024-01-06   Margherita      Small         8   7.99     New York
8   2024-01-07   Vegetarian     Medium         3  12.99      Chicago
9   2024-01-08    Pepperoni      Large         1  15.99  Los Angeles
10  2024-01-09  BBQ Chicken      Large         2  17.99     New York
11  2024-01-10   Vegetarian      Small         5   9.99      Chicago

In [15]:
#1

In [17]:
grouped=df.groupby(df.pizza_type)

In [49]:
pep=grouped.get_group("Pepperoni")
mar=grouped.get_group("Margherita")
bbq=grouped.get_group("BBQ Chicken")
veg=grouped.get_group("Vegetarian")

In [51]:
pep

    sale_date pizza_type    size  quantity  price     location
0  2024-01-01  Pepperoni   Small         5   8.99     New York
1  2024-01-01  Pepperoni  Medium         3  12.99     New York
5  2024-01-04  Pepperoni   Small         7   8.99      Chicago
9  2024-01-08  Pepperoni   Large         1  15.99  Los Angeles

In [57]:
mar

    sale_date  pizza_type   size  quantity  price  location
2  2024-01-02  Margherita  Large         2  15.99  New York
7  2024-01-06  Margherita  Small         8   7.99  New York

In [53]:
pep_total=pep['price'].sum()
pep_total

46.96

In [55]:
mar_total=mar['price'].sum()
mar_total

23.98

In [59]:
bbq_total=bbq['price'].sum()
bbq_total

41.97

In [61]:
veg_total=mar['price'].sum()
veg_total

23.98

In [81]:
data1 = {
  "Pizza_type": ["Pepperoni","Margherita","BBQ Chicken","Vegetarian"],
  "Total": [pep_total,mar_total,bbq_total,veg_total]
}
first=pd.DataFrame(data1)

In [83]:
#############################################################

In [85]:
######Total sales amount by pizza type##########

In [87]:
first

    Pizza_type  Total
0    Pepperoni  46.96
1   Margherita  23.98
2  BBQ Chicken  41.97
3   Vegetarian  23.98

In [69]:
pep_mean=pep['price'].mean()
pep_mean

11.74

In [71]:
mar_mean=mar['price'].mean()
mar_mean

11.99

In [75]:
bbq_mean=bbq['price'].mean()
bbq_mean

13.99

In [77]:
veg_mean=veg['price'].mean()
veg_mean

12.656666666666666

In [91]:
data2 = {
  "Pizza_type": ["Pepperoni","Margherita","BBQ Chicken","Vegetarian"],
  "Average": [pep_mean,mar_mean,bbq_mean,veg_mean]
}
second=pd.DataFrame(data2)

In [ ]:
########################## Average price of each pizza type######################

In [93]:
second

    Pizza_type      Total
0    Pepperoni  11.740000
1   Margherita  11.990000
2  BBQ Chicken  13.990000
3   Vegetarian  12.656667

In [95]:
grouped_location=df.groupby(df.location)

In [109]:
ny=grouped_location.get_group("New York")
ch=grouped_location.get_group("Chicago")
la=grouped_location.get_group("Los Angeles")

In [111]:
ny

     sale_date   pizza_type    size  quantity  price  location
0   2024-01-01    Pepperoni   Small         5   8.99  New York
1   2024-01-01    Pepperoni  Medium         3  12.99  New York
2   2024-01-02   Margherita   Large         2  15.99  New York
7   2024-01-06   Margherita   Small         8   7.99  New York
10  2024-01-09  BBQ Chicken   Large         2  17.99  New York

In [119]:
ny_tot=ny["quantity"].sum()

In [123]:
ny_tot

20

In [125]:
ch_tot=ch["quantity"].sum()

In [127]:
ch_tot

19

In [113]:
ch

     sale_date   pizza_type    size  quantity  price location
3   2024-01-02  BBQ Chicken   Small         4   9.99  Chicago
5   2024-01-04    Pepperoni   Small         7   8.99  Chicago
8   2024-01-07   Vegetarian  Medium         3  12.99  Chicago
11  2024-01-10   Vegetarian   Small         5   9.99  Chicago

In [129]:
la_tot=la["quantity"].sum()

In [131]:
la_tot

9

In [115]:
la

    sale_date   pizza_type    size  quantity  price     location
4  2024-01-03   Vegetarian   Large         6  14.99  Los Angeles
6  2024-01-05  BBQ Chicken  Medium         2  13.99  Los Angeles
9  2024-01-08    Pepperoni   Large         1  15.99  Los Angeles

In [133]:
data3 = {
  "Location": ["New York","Chicago","Los Angeles"],
  "Quantity_sold": [ny_tot,ch_tot,la_tot]
}
third=pd.DataFrame(data3)

In [ ]:
##########################Total quantity sold by location###############

In [135]:
third

      Location  Quantity_sold
0     New York             20
1      Chicago             19
2  Los Angeles              9

In [137]:
###################################################################################

In [139]:
df

     sale_date   pizza_type    size  quantity  price     location
0   2024-01-01    Pepperoni   Small         5   8.99     New York
1   2024-01-01    Pepperoni  Medium         3  12.99     New York
2   2024-01-02   Margherita   Large         2  15.99     New York
3   2024-01-02  BBQ Chicken   Small         4   9.99      Chicago
4   2024-01-03   Vegetarian   Large         6  14.99  Los Angeles
5   2024-01-04    Pepperoni   Small         7   8.99      Chicago
6   2024-01-05  BBQ Chicken  Medium         2  13.99  Los Angeles
7   2024-01-06   Margherita   Small         8   7.99     New York
8   2024-01-07   Vegetarian  Medium         3  12.99      Chicago
9   2024-01-08    Pepperoni   Large         1  15.99  Los Angeles
10  2024-01-09  BBQ Chicken   Large         2  17.99     New York
11  2024-01-10   Vegetarian   Small         5   9.99      Chicago

In [230]:
small_tot=0
med_tot=0
large_tot=0

# print(k,df.loc[k].size_pizza)



for k in df.index:
    if df.loc[k].size_pizza=="Small":
        small_tot+=df.loc[k].price
    elif df.loc[k].size_pizza=="Medium":
        med_tot+=df.loc[k].price
    else:
        large_tot+=df.loc[k].price

In [189]:
small_tot

45.95

In [206]:
med_tot

39.97

In [208]:
large_tot

64.96

In [220]:
data4 = { 
         "Size": ["Small","Medium","Large"], 
         "Total_Sales": [small_tot,med_tot,large_tot]
}
fourth=pd.DataFrame(data4)

In [228]:
fourth

     Size  Total_Sales
0   Small        45.95
1  Medium        39.97
2   Large        64.96

In [232]:
small_pep=0
small_mar=0
small_bbq=0
small_veg=0
med_pep=0
med_mar=0
med_bbq=0
med_veg=0
large_pep=0
large_mar=0
large_bbq=0
large_veg=0

In [250]:
for k in df.index:
    if df.loc[k].size_pizza=="Small" and df.loc[k].pizza_type=="Pepperoni":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        small_pep+=df.loc[k].price
    elif df.loc[k].size_pizza=="Medium" and df.loc[k].pizza_type=="Pepperoni":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        med_pep+=df.loc[k].price
    elif df.loc[k].size_pizza=="Large" and df.loc[k].pizza_type=="Pepperoni":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        large_pep+=df.loc[k].price
    elif df.loc[k].size_pizza=="Small" and df.loc[k].pizza_type=="Margherita":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        small_mar+=df.loc[k].price
    elif df.loc[k].size_pizza=="Medium" and df.loc[k].pizza_type=="Margherita":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        med_mar+=df.loc[k].price
    elif df.loc[k].size_pizza=="Large" and df.loc[k].pizza_type=="Margherita":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        large_mar+=df.loc[k].price
    elif df.loc[k].size_pizza=="Small" and df.loc[k].pizza_type=="BBQ Chicken":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        small_bbq+=df.loc[k].price
    elif df.loc[k].size_pizza=="Medium" and df.loc[k].pizza_type=="BBQ Chicken":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        med_bbq+=df.loc[k].price
    elif df.loc[k].size_pizza=="Large" and df.loc[k].pizza_type=="BBQ Chicken":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        large_bbq+=df.loc[k].price
    elif df.loc[k].size_pizza=="Small" and df.loc[k].pizza_type=="Vegetarian":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        small_veg+=df.loc[k].price
    elif df.loc[k].size_pizza=="Medium" and df.loc[k].pizza_type=="Vegetarian":
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        med_veg+=df.loc[k].price
    else:
        print(k,df.loc[k].size_pizza,df.loc[k].pizza_type)
        large_veg+=df.loc[k].price

0 Small Pepperoni
1 Medium Pepperoni
2 Large Margherita
3 Small BBQ Chicken
4 Large Vegetarian
5 Small Pepperoni
6 Medium BBQ Chicken
7 Small Margherita
8 Medium Vegetarian
9 Large Pepperoni
10 Large BBQ Chicken
11 Small Vegetarian

In [ ]:
data4 = { 
         "Size": ["Small","Medium","Large"], 
         "Total_Sales": [small_tot,med_tot,large_tot]
}
fourth=pd.DataFrame(data4)